<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXsxSw_nfbo2LDecOehoCkDtt3U7oZdbc</string>
	<key>GCM_SENDER_ID</key>
	<string>496963264302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phd</string>
	<key>PROJECT_ID</key>
	<string>patientdetails-35e27</string>
	<key>STORAGE_BUCKET</key>
	<string>patientdetails-35e27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496963264302:ios:5951a123abc1d4f49e24bf</string>
</dict>
</plist>